:root {
  --blue: lightblue;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #222;
}

h1, h2, h3, h4, h5, h6, p, ul, li, a {
  font-family: 'Segoe UI', sans-serif;
  color: white;
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
h1 {
  font-size: 64px;
}

a {
  text-decoration: none;
}