@import url('https://fonts.googleapis.com/css?family=Sofia&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

:root {
  --blue: #606dbc;
  --blue-secondary: #465298;
  --green: #2ba22b;
  --green-secondary: #268e26;
  --red: #e42525;
  --red-secondary: #a21313;

  --dark-grey: #222;
  --grey: #444;
  --light-grey: #888;

  --radius-xl: 26px;
  --radius-l: 18px;
  --radius-m: 12px;
  --radius-s: 6px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #222;
  overflow: hidden;
}

h2, h3, h4, h5, h6, p, ul, li, a, span {
  font-family: 'Quicksand', monospace;
  color: #222;
}
h1 {
  font-family: 'Sofia', sans-serif;
  font-size: clamp(50px, 10vw, 84px);
  color: #222;
  padding: 12px 18px;
  border-radius: var(--radius-xl);
  background-color: rgba(255, 255, 255, 0.8);
}

a {
  text-decoration: none;
}