@import './base.css';

.top-left-corner {
  position: absolute;
  top: 22px;
  left: 22px;
}

.top-right-corner {
  position: absolute;
  top: 22px;
  right: 22px;
}

.bottom-right-corner {
  position: absolute;
  bottom: 22px;
  right: 22px;
}

.bottom-left-corner {
  position: absolute;
  bottom: 22px;
  left: 22px;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.abs-center-bottom {
  position: absolute;
  bottom: 22px;
  left: 50%;
  transform: translate(-50%, 0);
}

.abs-center-top {
  position: absolute;
  top: 22px;
  left: 50%;
  transform: translate(-50%, 0%);
}


.abs-center-left {
  position: absolute;
  top: 50%;
  left: 22px;
}

.abs-center-right {
  position: absolute;
  top: 50%;
  right: 22px;
}

svg {
  color: white;
  width: 25px;
  height: 25px;
}

.full-flex {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-start {
  align-items: center;
  justify-content: flex-start;
}

.flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flex-space-between {
  justify-content: space-between;
}

.top-6 {
  margin-top: 6px;
}

.top-12 {
  margin-top: 12px;
}

.top-24 {
  margin-top: 12px;
}

.top-32 {
  margin-top: 32px;
}

.bottom-6 {
  margin-bottom: 6px;
}

.bottom-12 {
  margin-bottom: 12px;
}

.bottom-24 {
  margin-bottom: 24px;
}

.r-6 {
  margin-right: 6px;
}

.r-12 {
  margin-right: 12px;
}

.r-24 {
  margin-right: 24px;
}

.l-6 {
  margin-left: 6px;
}

.l-12 {
  margin-left: 12px;
}

.l-24 {
  margin-left: 24px;
}

.m-12 {
  margin: 12px;
}

.m-22 {
  margin: 22px;
}

.bold {
  font-weight: bold;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100vh;
}

.relative {
  position: relative;
}

.display-none {
  display: none;
}

.unvisible {
  visibility: hidden;
}

.notouch {
  pointer-events: none;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #666;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.disabled {
  opacity: 0.5;
  pointer-events: none;
}

code {
  padding: 6px 8px;
  background-color: #555;
  border-radius: 22px;
  font-family: monospace;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 3px;
}

.fadein {
  transition-duration: 500ms;
}

.hide {
  display: none;
}

/* Transitions */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease-out;
}
.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

svg {
  width: 46px;
  font-size: 46px;
}